@model LibraryItem
<h2>Item check out</h2>
<hr />
<form asp-action="CheckOut">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="well">
        <div class="row">
            <div class="container">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CoverString" />
                <div class="col-md-4" style="padding-left:0px;">
                    <img class="img-fluid img-thumbnail center-block" src="@Model.CoverString" />
                </div>
                <div class="col-md-7">
                    <h2>Are you sure you want to check out this item?:</h2>
                    <h3>@Model.Title - @Model.Author | @Model.Format | @Model.Year </h3>
                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" name="checkedOutTo" placeholder="Checked Out To"></textarea>
                            <span asp-validation-for="CheckedOutTo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="divider"></div>
            <div class="col-md-2 pull-right">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Accept" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Return</a>
            </div>
        </div>

    </div>
</form>


