@model LibraryItem

<h2>Delete Item</h2>
<hr />
<form asp-action="Delete">
    <div class="well">
        <div class="row">
            <div class="container">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CoverString" />
                <div class="col-md-4" style="padding-left:0px;">
                    <img class="img-fluid img-thumbnail center-block" src="@Model.CoverString" />
                </div>
                <div class="col-md-7">
                    <h2>Are you sure you want to remove this item?:</h2>
                    <h3>@Model.Title - @Model.Author | @Model.Format | @Model.Year </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="divider"></div>
            <div class="col-md-2 pull-right">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-success">Return</a>
            </div>
        </div>
    </div>
</form>

