@model LibraryItem
<div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-6">
                <h3>@Model.Title - @Model.Author</h3>
                <h4>@Model.Format</h4>
                <h4>@Model.Year</h4>
                <h4>@Model.CheckedOut</h4>
                <h2>Are you sure you want to remove this item?</h2>
                <div class="pull-right">

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-success">Return</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
