@model LibraryItem



<h2>@Model.Title - @Model.Author</h2>
<div class="thumbnail">

    <div class="caption-full">

        <h3>
            <a href="#">@Model.Title</a>
        </h3>

        <h4>@Model.Format</h4>
        <h4>@Model.Year</h4>
        <h4>@Model.CheckedOut</h4>
    </div>
</div>




